
main {
    border: 2px solid black;
    text-align: center;
    width: 530px;
}

.informativeDice {
    width: 15px;
    height: 15px;
    padding-left: 10px;
}

table, th, td {
    border: 2px solid;
}  

table {
    padding: 5px;
}

sup {
    font-size: 10px;
}

.arrow {
    width:40px;
    height: 15px;;
}

.click {
    background-color: green;
}